---
import "@/styles/global.css";
import sprite from "@/assets/icons/sprite.svg?raw";
import { getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const {
  title = "",
  description = "Website created by Kristian Leonel Benítez Pérez. Estudiante de ciencias de la computación...",
  image = "/og-image.png",
} = Astro.props;

const fullTitle = `fk2731 | ${title}`;
---

<!doctype html>
<html lang={lang} class="dark scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{fullTitle}</title>
    <meta name="description" content={description} />
    <meta name="author" content="Kristian Leonel Benítez Pérez" />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={new URL(image, Astro.url)} />

    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>

  <body
    class="bg-light dark:bg-dark text-line dark:text-light scroll-smooth pt-15 transition-colors duration-300"
  >
    <div style="display:none" aria-hidden="true" set:html={sprite} />
    <slot />
  </body>
</html>
